body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
